<!DOCTYPE html>
<html>
  <head>
    <title>TeachingApp3</title>
    <% flash.each do |message_type, message| %>
			<% flashcolor = (flash[:message] == "Correct" ? "green" : "red") %>
        <%= content_tag(:div, message, style: "background-color:#{flashcolor}") %>
      <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
